* {
margin:100px;
}
body {
<<<<<<< HEAD
background:yellow;
=======
<<<<<<< HEAD
background:yellow;
=======
background:blue;
>>>>>>> 47376e4062342977e1da2b025d8a10270e2ab3c4
>>>>>>> 3d98d41a93b5e47ae19819fc87a8cfbb5d46e6a8
}
